:root {
    --modal-duration: 1s;
}

* {
    box-sizing: border-box;

}

body {
    font-family: sans-serif;
    margin: 0;
    transition: transform 0.3s ease;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://img.freepik.com/free-photo/green-paint-brush-textured-background_53876-104801.jpg?size=626&ext=jpg&ga=GA1.2.1228418046.1721782203&semt=sph);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.content-container h1 {
    font-size: 4rem;
    color: black;
}

.content-container p {
    width: 600px;
    text-align: center;
    margin-bottom: 40px;
    color: black;
    line-height: 24px;
}

.cta-btn {
    padding: 12px 30px;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-color: rgb(184, 2, 2);
    border-radius: 12px;
    cursor: pointer;
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal {
background: white;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
position: absolute;
overflow: hidden;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
max-width: 100%;
width: 400px;
padding-left: 20px;
}

.modal-content {
    padding: 20px;
}

.modal-form div {
    margin: 20px 0;
}

.modal-form label {
display: block;
margin-bottom: 6px;
}

.modal-form .form-input {
padding: 8px;
width: 100%;
}

.close-btn {
background: transparent;
border: none;
font-size: 25px;
position: absolute;
top: 5px;
right: 12px;
cursor: pointer;
}

.modal-container .submit-btn {
    padding: 10px 30px;
    font-weight:  bold;
    background: crimson;
    border: none;
    color: white;
    cursor: pointer;
}

/* JavaScript */
.modal-container.show-modal {
display: block;
}


/* .header {
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    vertical-align: bottom;
    background: white;
    color: black;
    /* border: 3px solid black; */
/* } */

/* .header h1 {
    font-size: 40px;
} */

.parent {
    display: flex;
    margin: auto;
    box-shadow: 10px 10px 10px lightgrey;
    /* position: relative; */
    width: 600px;
    height: 290px;
    /* vertical-align: top; */
    text-align: left;
    /* justify-content: center; */
    background: white;
    color: black;
    border: 1px solid lightgray;
}

.toppassboxborder {
    border-bottom: 1px solid lightgrey;
    width: 525px;
    height: 70px;
    text-align: left;
    position: absolute;
    vertical-align: middle;
    top: 30%;
    left: 36%;
    margin: -50px 0 0 -50px;
}

.bottompassboxborder {
    border-top: 1px solid lightgrey;
    width: 525px;
    height: 70px;
    vertical-align: middle;
    position: absolute;
    top: 58.5%;
    left: 36%;
    margin: -50px 0 0 -50px;
}

.child {
    border: 1px dashed gray;
    width: 500px;
    height: 90px;
    top: 35%;
    left: 42%;
    margin: 0 0 0 -140px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    padding: 5px 10px;
}

.generatebtn {
    background-color: rgba(175, 4, 4, 0.915);
    color: white;
    border: none;
    top: 30%;
    left: 3%;
    width: 180px;
    position: absolute;
    border-radius: 24px;
    padding: 5px;
    font-size: 16px;
    display: inline-block;
}

.buttondiv {
    vertical-align: bottom;
    text-align: center;
    /* border: solid black; */
    position: relative;
    width: 190px;
    height: 70px;
    top: 104%;
    left: 48%;
    margin: -90px 0 0 -80px;

}

/* Additional items below this line for modal window code */

/* The Modal (background) */
/* .modal { */
/* display: none; Hidden by default */
/* position: fixed; Stay in place */
/* z-index: 1; Sit on top */
/* padding-top: 100px; Location of the box */
/* left: 0; */
/* top: 0; */
/* width: 100%; Full width */
/* height: 100%; Full height */
/* overflow: auto; Enable scroll if needed */
/* background-color: rgb(0,0,0); Fallback color */
/* background-color: rgba(0,0,0,0.4); Black w/ opacity */
/* } */

/* Modal Content */
/* .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  } */

/* The Close Button */
/* .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  } */
/*   
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  } */

/* The Modal (background) */
/* .modal2 { */
/* display: none; Hidden by default */
/* position: fixed; Stay in place */
/* z-index: 1; Sit on top */
/* padding-top: 100px; Location of the box */
/* left: 0; */
/* top: 0; */
/* width: 100%; Full width */
/* height: 100%; Full height */
/* overflow: auto; Enable scroll if needed */
/* background-color: rgb(0,0,0); Fallback color */
/* background-color: rgba(0,0,0,0.4); Black w/ opacity */
/* } */

/* Modal Content */
/* .modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  } */

/* The Close Button */
/* .close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  } */

/* .close2:hover,
  .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  } */


/* End of code block for modal window */